body {
  background-color: #22577A;
  color: #80ED99;
  font-size: 18px;
  height: 100vh;
  margin: 0;
}

.md-cont {
  padding-inline: 6rem;
}

.text-center {
  text-align: center;
}
.text-heavy {
  font-weight: bold;
}

@media (max-width: 768px) {
    .md-cont {
        padding-inline: 4rem;
    }
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }

  .md-cont {
      padding-inline: 1rem;
  }
}
